.App {
  text-align: center;
}

.hidden {
    display: none;
}

input: focus {
    outline: none;
}

input {
    font-size:15px;
    padding:5px;
    margin:15px;
    border-radius: 5px;
    box-sizing: border-box;
}

.main-section {
    margin-top: 10%;
}
.sub-btn {
    background-color: lightgreen;
    border:none;
    transform: scale(0.95);
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s;
    box-shadow: 1px 1px 2px black;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px;
}

.repo-list {
    padding: 5px;
    list-style: none;
    display:flex;
    flex-direction: column;
}
